* {
    margin: 0;
}

html { 
  background: url(img/blur_landscape.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family: "Helvetica";
	max-width:100%;
}

.bg{
	position:absolute;
	z-index: -999;
}

#mobile-bg{
	width:100%;
}

.notice-container{
	overflow:hidden;
}

a:link {
	color:white;
	-webkit-text-stroke: 1.1px black;
	font-weight:bold;
	text-decoration: none;
	}

	a:visited {
   	color:white;
	-webkit-text-stroke: 1.1px black;
	font-weight:bold;
	text-decoration: none;
}

.header{
	margin-left: 30px;
	position:relative;
}

td{
	width:35%;
}


.main-menu{
	position:absolute;
	display:inline-block;
	top:50%;
}

.menu{
	font-size:1.4em;
	color:white;
	-webkit-text-stroke: 1.1px black;
	font-weight:bold;
}

.menu:hover{
	cursor:pointer;
	-webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.video-wrapper{
   		position: relative;
		max-width: 980px;
        margin: 20 auto;
        display:block;
}

.vimeo-standard {
        height: 450px;
        width: 87%;
        top:0;
        left:0;
        margin:auto;
    }

.video-wrapper iframe{
		width: 100%;
		height: 100%;
}

.notice{
	position:fixed;
	width:99%;
	width:auto;
	display:inline-block;
	background-color:white;
	border: 3px solid black;
	box-shadow:5px 5px;
	z-index:999;
}

.timer{
	width:40%;
	bottom:10%;
	right:5%;
}

.notice:hover{
	cursor:all-scroll;
}


.mobile{
	display:none;
}

#large{
	font-family: "Helvetica";
	font-weight:bold;
	margin:10 20 10 15;
	font-size: 1.1em;
}

/*mobile notice*/
#button, #button01{
	position:absolute;
	right:0;
	top:0;
	padding:10;
	font-family: "Helvetica";
	font-weight:bold;
	font-size:1.3em;
}

#button:hover{
	color:grey;
	cursor:pointer;
	z-index: 2;
}

#button01:hover{
	color:grey;
	cursor:pointer;
	z-index: 2;
}

.slogan{
	text-align: center;
	text-shadow:2px 2px white;
	-webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
    filter: blur(1.5px);
}

.content{
	overflow:hidden;
}

.spacer{
	width:100%;
	height:60px;
}

h1{
	margin-left:5%;
}

.intro{
	position:absolute;
	top:-20;
}

p{
	font-size: 2em;
	margin-bottom: 2%;
	font-weight: bold;
	display:inline;
}

/*about*/
#about h2{
	text-align:justify;
	top:0;
	left:0;
	margin:auto;
	margin-top: 1%;
	width:70%;
	color:black;
}

h2 span{
	background-color: white;
}
/*shop*/


.gallery-container{
	position:relative;
	overflow:hidden;
}

.slide-1{
    height:100px;
    width:700px;
    margin:10px 5%;
}

.slide-2{
    height:100px;
    width:500px;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
}

.slide-1 img{
	height:500px;
}

.slide-2 img{
	height:500px;
	margin-top:10%;
}
#beijing{

}



@media (orientation : portrait) and (max-width: 550px) {

	#mobile-bg{
	height: 100%;
	width:auto;
	}
	.video-wrapper{
	display:none;
	}

	.notice-container{
		position:relative;
	}

	.main-container{
		display:none;
	}

	.notice{
	position:relative;
	width:85%;
	display:inline-block;
	background-color:white;
	z-index: 1;
	margin-top:15px;
	margin-left: auto; 
 	margin-right: auto; 
	border: 3px solid black;
	box-shadow:5px 5px;
	left: 50%;
	transform: translateX(-50%);
	}

	.timer{
	display:none;
	}

	#large{
	padding:10 25 10 10;
	font-size: 1.3em;
}

	.mobile{
	display:inline-block;

	}
}