* {
    margin: 0;
}

body{

}

.bg{
	position:absolute;
	z-index: -999;
}

#mobile-bg{
	width:100%;
}

.notice-container{
	overflow:hidden;
}


.header{
	margin-left: 30px;
}

.video-wrapper{
   		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		max-width:80%;
		left:50%;
}

.video-wrapper iframe{
  	   position: absolute;
		top: -10%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		padding:0;
}

.notice{
	position:fixed;
	width:99%;
	width:auto;
	display:inline-block;
	background-color:white;
	border: 3px solid black;
	box-shadow:5px 5px;
	z-index:999;
}

.timer{
	width:40%;
	bottom:10%;
	right:5%;
}

.notice:hover{
	cursor:all-scroll;
}


.mobile{
	display:none;
}

#large{
	font-family: "Helvetica";
	font-weight:bold;
	margin:10 20 10 15;
	font-size: 1.1em;
}

/*mobile notice*/
#button{
	position:absolute;
	right:0;
	top:0;
	padding:10;
	font-family: "Helvetica";
	font-weight:bold;
	font-size:1.3em;
}

#button:hover{
	color:grey;
	cursor:pointer;
	z-index: 2;
}




@media (orientation : portrait) and (max-width: 550px) {

	#mobile-bg{
	height: 100%;
	width:auto;
	}
	.video-wrapper{
	display:none;
	}

	.notice-container{
		position:relative;
	}

	.main-container{
		display:none;
	}

	.notice{
	position:relative;
	width:85%;
	display:inline-block;
	background-color:white;
	z-index: 1;
	margin-top:15px;
	margin-left: auto; 
 	margin-right: auto; 
	border: 3px solid black;
	box-shadow:5px 5px;
	left: 50%;
	transform: translateX(-50%);
	}

	.timer{
	display:none;
	}

	#large{
	padding:10 25 10 10;
	font-size: 1.3em;
}

	.mobile{
	display:inline-block;

	}
}